// Navbar vertical align
//
// Vertically center elements in the navbar.
// Example: an element has a height of 30px, so write out `.navbar-vertical-align(30px);` to calculate the appropriate top margin.

.navbar-vertical-align(@element-height) {
    margin-top: (((@navbar-height / 14) - @element-height) / 2);
    margin-bottom: (((@navbar-height / 14) - @element-height) / 2);
}