//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 2px solid transparent;
    white-space: nowrap;
    .button-size(@btn-padding-vertical; @btn-padding-horizontal; @btn-font-size; @btn-line-height; @btn-border-radius);
    .user-select(none);

    &,
    &:active,
        &.active {
        &:focus,
            &.focus {
            .tab-focus();
        }
    }

    &:hover,
        &:focus,
        &.focus {
        color: @btn-default-color;
        text-decoration: none;
    }

    &:active,
        &.active {
        outline: 0;
        background-image: none;
        .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
        pointer-events: none; // Future-proof disabling of clicks
        opacity: .65;
        .box-shadow(none);
    }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}
.btn-primary {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}
.btn-inverse {
    .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
    color: @link-color;
    font-weight: normal;
    border-radius: 0;

    &,
    &:active,
        &.active,
        &[disabled],
        fieldset[disabled] & {
        background-color: transparent;
        .box-shadow(none);
    }
    &,
    &:hover,
        &:focus,
        &:active {
        border-color: transparent;
    }
    &:hover,
        &:focus {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
        background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
            &:focus {
            color: @btn-link-disabled-color;
            text-decoration: none;
        }
    }
}


// Block button
// --------------------------------------------------

.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: (5 / 14rem);
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}