//
// Cells
// --------------------------------------------------


// Base class
.cell {
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
    text-align: center;
}

// Cell contents
.cell-body {
    padding: @cell-body-padding;
    &:extend(.clearfix all);
}

// Optional header
.cell-header {
    padding: @cell-header-padding;
}

// Within header, strip any `h*` tag of its default margins for spacing.
.cell-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: (@font-size-base * 1.5);
    color: #fff;
}

// Optional footer (stays gray in every modifier class)
.cell-footer {
    padding: @cell-footer-padding;
}


.cell-show {
    opacity: 1;
    transform: translateY(0) scale(1);
    .transition-transform(~" 0.6s ease 0s, opacity 0.6s ease 0s");
    .perspective(1000);
    .backface-visibility(hidden);
}

.cell-hide {
    opacity: 0;
    transform: translateY(8px) scale(0.95);
    .transition-transform(~" 0.6s ease 0s, opacity 0.6s ease 0s");
    .perspective(1000);
    .backface-visibility(hidden);
}


.cell-transition {
    padding: 70px 0;

    .line {
        display: block;
        font-size: (88 / 16rem);
        font-weight: 700;
        line-height: 0.7;
        color: #fff;
    }

    .line-red {
        color: #f04766;
    }
    .line-blue {
        color: #4691c8;
    }
    .line-yellow {
        color: #f9d800;
    }
    .line-green {
        color: #76c043;
    }
}


.cell-icon {
    background: url(img/sprites.png) content-box no-repeat;
    display: inline-block;
    margin-top: (15 / 14rem);
    height: (105 / 16rem);
}

// Image captions
.cell-caption {
    padding: @cell-caption-padding;
    color: @cell-caption-color;

    .title {
        font-size: inherit;
        margin-top: 0;
        color: #fff;
    }
}