#home {
    background-image: url(img/galaxy_background.png);
    background-size: 100% 100%;
}

.btn-studio {
    display: block;
    background: url(img/sprites.png) no-repeat;
    background-size: ((346 / 47) * 100%) ((324 / 47) * 100%);
    background-position: ((192 / (346 - 47)) * 100%) ((275 / (324 - 47)) * 100%);
    margin: 0 auto;
    padding: 0;
    width: (51 / 16rem);
    height: (51 / 16rem);
}


.cell-design,
.cell-inspire,
.cell-explore,
.cell-engage {
    .cell-body {
        padding-left: 25%;
        padding-right: 25%;
    }
}

.cell-design {
    background-color: #98012e;
}
.cell-inspire {
    background-color: #01568d;
}
.cell-explore {
    background-color: #008b0c;
}
.cell-engage {
    background-color: #d68f03;
}

.btn-design {
    .button-variant(#f04766; transparent; #f04766);
}
.btn-inspire {
    .button-variant(#a8d4f1; transparent; #a8d4f1);
}
.btn-explore {
    .button-variant(#a7f9ad; transparent; #a7f9ad);
}


#work {
    .cell-studio {
        background-color: #4691c8;
    }
}

.cell-work {
    background: center/cover no-repeat;

    .cell-caption {
        padding-left: (35 / 14rem);
        padding-right: (35 / 14rem);
    }
}


#services {
    .cell-studio {
        background-color: #55b027;
    }
}

.cell-brand-development {
    background-color: #cc2bd9;

    .cell-icon {
        background-size: ((346 / 65) * 100%) ((324 / 95) * 100%);
        background-position: ((213 / (346 - 65)) * 100%) ((157 / (324 - 95)) * 100%);
        padding: ((105 - 95) / 32rem) 0;
        width: (65 / 16rem);
    }
}
.cell-marketing {
    background-color: #009180;

    .cell-icon {
        background-size: ((346 / 119) * 100%) ((324 / 74) * 100%);
        background-position: ((93 / (346 - 119)) * 100%) ((178 / (324 - 74)) * 100%);
        padding: ((105 - 74) / 32rem) 0;
        width: (119 / 16rem);
    }
}
.cell-web-development {
    background-color: #0088ce;

    .cell-icon {
        background-size: ((346 / 87) * 100%) ((324 / 88) * 100%);
        background-position: ((101 / (346 - 87)) * 100%) ((0 / (324 - 88)) * 100%);
        padding: ((105 - 88) / 32rem) 0;
        width: (87 / 16rem);
    }
}

.cell-graphic-design {
    background-color: #a80699;

    .cell-icon {
        background-size: ((346 / 104) * 100%) ((324 / 67) * 100%);
        background-position: ((0 / (346 - 104)) * 100%) ((106 / (324 - 67)) * 100%);
        padding: ((105 - 67) / 32rem) 0;
        width: (104 / 16rem);
    }
}
.cell-exhibit-design {
    background-color: #e51561;

    .cell-icon {
        background-size: ((346 / 92) * 100%) ((324 / 78) * 100%);
        background-position: ((0 / (346 - 92)) * 100%) ((174 / (324 - 78)) * 100%);
        padding: ((105 - 78) / 32rem) 0;
        width: (92 / 16rem);
    }
}
.cell-market-research {
    background-color: #cc4738;

    .cell-icon {
        background-size: ((346 / 100) * 100%) ((324 / 105) * 100%);
        background-position: ((0 / (346 - 100)) * 100%) ((0 / (324 - 105)) * 100%);
        padding: ((105 - 105) / 32rem) 0;
        width: (100 / 16rem);
    }
}

.cell-printing {
    background-color: #0136c2;

    .cell-icon {
        background-size: ((346 / 84) * 100%) ((324 / 85) * 100%);
        background-position: ((193 / (346 - 84)) * 100%) ((71 / (324 - 85)) * 100%);
        padding: ((105 - 85) / 32rem) 0;
        width: (84 / 16rem);
    }
}
.cell-social-media {
    background-color: #01b576;

    .cell-icon {
        background-size: ((346 / 87) * 100%) ((324 / 86) * 100%);
        background-position: ((105 / (346 - 87)) * 100%) ((89 / (324 - 86)) * 100%);
        padding: ((105 - 86) / 32rem) 0;
        width: (87 / 16rem);
    }
}
.cell-writing-edting {
    background-color: #bd5346;

    .cell-icon {
        background-size: ((346 / 92) * 100%) ((324 / 70) * 100%);
        background-position: ((189 / (346 - 92)) * 100%) ((0 / (324 - 70)) * 100%);
        padding: ((105 - 92) / 32rem) 0;
        width: (92 / 16rem);
    }
}


#connect {
    .cell-studio {
        background-color: #d68f03;
    }
}


#contact {
    .cell-icon {
        background-size: ((346 / 64) * 100%) ((324 / 64) * 100%);
        padding: ((105 - 64) / 32rem) 0;
        width: (56 / 14rem);
    }

    a {
        color: #fff;
    }

    #btn-submit {
        margin: (28 / 14rem) 0 0 20px;
    }
}

.cell-phone {
    background-color: #be3e6e;
    padding-top: (28 / 14rem);

    .cell-icon {
        background-position: ((282 / (346 - 64)) * 100%) ((130 / (324 - 64)) * 100%);
    }
}
.cell-email {
    background-color: #cc4738;
    padding-top: (28 / 14rem);

    .cell-icon {
        background-position: ((282 / (346 - 64)) * 100%) ((0 / (324 - 64)) * 100%);
    }
}
.cell-facebook {
    background-color: #0088ce;
    padding-top: (28 / 14rem);

    .cell-icon {
        background-position: ((282 / (346 - 64)) * 100%) ((65 / (324 - 64)) * 100%);
    }
}
.cell-twitter {
    background-color: #00cea8;
    padding-top: (28 / 14rem);

    .cell-icon {
        background-position: ((282 / (346 - 64)) * 100%) ((260 / (324 - 64)) * 100%);
    }
}
.cell-tumblr {
    background-color: #0136c2;
    padding-top: (28 / 14rem);

    .cell-icon {
        background-position: ((282 / (346 - 64)) * 100%) ((195 / (324 - 64)) * 100%);
    }
}