//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
    position: relative;
    min-height: @navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
    margin-bottom: @navbar-margin-bottom;
    border: 1px solid transparent;

    // Prevent floats from breaking the navbar
    &:extend(.clearfix all);

    @media (min-width: @grid-float-breakpoint) {
        border-radius: @navbar-border-radius;

        .container-fluid {
            max-width: ((1140px + @grid-gutter-width));
        }
    }
}


// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
    height: @navbar-height;
    &:extend(.clearfix all);

    @media (min-width: @grid-float-breakpoint) {
        float: left;
    }
}


// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.

.navbar-collapse {
    overflow-x: visible;
    padding-right: @navbar-padding-horizontal;
    padding-left:  @navbar-padding-horizontal;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    &:extend(.clearfix all);
    -webkit-overflow-scrolling: touch;

    &.in {
        overflow-y: auto;
    }

    @media (min-width: @grid-float-breakpoint) {
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
            display: block !important;
            visibility: visible !important;
            height: auto !important;
            padding-bottom: 0; // Override default setting
            overflow: visible !important;
        }

        &.in {
            overflow-y: visible;
        }

        // Undo the collapse side padding for navbars with containers to ensure
        // alignment of right-aligned contents.
        .navbar-static & {
            padding-left: 0;
            padding-right: 347px;
        }
    }

    @media (min-width: @screen-lg-min) {
        .navbar-static & {
            padding-left: 321px;
        }
    }
}


// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.

.container,
.container-fluid {
    > .navbar-header,
    > .navbar-collapse {
        margin-right: -@navbar-padding-horizontal;
        margin-left:  -@navbar-padding-horizontal;

        @media (min-width: @grid-float-breakpoint) {
            margin-right: 0;
            margin-left:  0;
        }
    }
}


//
// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.

// Static (unfixed, but 100% wide) navbar
.navbar-static {
    z-index: @zindex-navbar;
    border-width: 0 0 1px;

    @media (min-width: @grid-float-breakpoint) {
        border-radius: 0;
    }
}


// Brand/project name

.navbar-brand {
    float: left;
    top: 50%;
    .translate(0, -50%);
    position: relative;
    padding: 0 @navbar-padding-horizontal;
    background: url(img/sprites.png) content-box no-repeat;
    background-size: ((346 / 191) * 100%) ((324 / 38) * 100%);
    background-position: ((0 / (346 - 191)) * 100%) ((275 / (324 - 38)) * 100%);
    height: 38px;
    width: 221px;

    &:hover,
        &:focus {
        text-decoration: none;
    }

    > img {
        display: block;
    }

    @media (min-width: @grid-float-breakpoint) {
        .navbar > .container &,
        .navbar > .container-fluid & {
            margin-left: -@navbar-padding-horizontal;
        }
    }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: @navbar-padding-horizontal;
    padding: (9 / 14rem) (10 / 14rem);
    top: 50%;
    .translate(0, -50%);
    background-color: transparent;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    border-radius: @border-radius-base;

    // We remove the `outline` here, but later compensate by attaching `:hover`
    // styles to `:focus`.
    &:focus {
        outline: 0;
    }

    // Bars
    .icon-bar {
        display: block;
        width: (22 / 14rem);
        height: (3 / 14rem);
        border-radius: (1 / 14rem);
    }
    .icon-bar + .icon-bar {
        margin-top: (4 / 14rem);
    }

    @media (min-width: @grid-float-breakpoint) {
        display: none;
    }
}


// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
    margin: (@navbar-padding-vertical / 2) -@navbar-padding-horizontal;

    > li > a {
        padding-top:    10px;
        padding-bottom: 10px;
        line-height: @line-height-computed;
        text-align: left;
    }

    @media (max-width: @grid-float-breakpoint-max) {
        // Dropdowns get custom display when collapsed
        .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            > li > a,
            .dropdown-header {
                padding: 5px 15px 5px 25px;
            }
            > li > a {
                line-height: @line-height-computed;
                &:hover,
                    &:focus {
                    background-image: none;
                }
            }
        }
    }

    // Uncollapse the nav
    @media (min-width: @grid-float-breakpoint) {
        float: left;
        margin: 0;

        > li {
            text-align: center;
            float: none;
            > a {
                display: inline-block;
                border-bottom: 2px solid transparent;
                font-size: 16px;
                margin-top: 25px;
                padding: 0;
            }
        }
    }
}


// Dropdown menus

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    .border-top-radius(0);
}


// Buttons in navbars
//
// Vertically center a button within a navbar (when *not* in a form).

.navbar-btn {
    position: relative;
    top: 50%;
    .translate(0, -50%);
    margin: 0 5px;
}


// Text in navbars
//
// Add a class to make any element properly align itself vertically within the navbars.

.navbar-text {
    .navbar-vertical-align(@line-height-computed);

    @media (min-width: @grid-float-breakpoint) {
        float: left;
        margin-left: @navbar-padding-horizontal;
        margin-right: @navbar-padding-horizontal;
    }
}


// Component alignment
//
// Repurpose the pull utilities as their own navbar utilities to avoid specificity
// issues with parents and chaining. Only do this when the navbar is uncollapsed
// though so that navbar contents properly stack and align in mobile.
//
// Declared after the navbar components to ensure more specificity on the margins.

@media (min-width: @grid-float-breakpoint) {
    .navbar-left  {
        height: @navbar-height;
        .alignleft();
    }
    .navbar-right {
        height: @navbar-height;
        .alignright();
        margin-right: -347px;

        ~ .navbar-right {
            margin-right: 0;
        }
    }
}


// Alternate navbars
// --------------------------------------------------

.navbar {
    background-color: @navbar-bg;
    border-color: @navbar-border;

    .navbar-brand {
        color: @navbar-brand-color;
        &:hover,
            &:focus {
            color: @navbar-brand-hover-color;
            background-color: @navbar-brand-hover-bg;
        }
    }

    .navbar-text {
        color: @navbar-color;
    }

    .navbar-nav {
        > li > a {
            color: @navbar-link-color;

            &:hover,
                &:focus {
                color: @navbar-link-hover-color;
                border-bottom-color: @navbar-link-hover-color;
                background-color: @navbar-link-hover-bg;
            }
        }
        > .active > a {
            &,
            &:hover,
                &:focus {
                color: @navbar-link-active-color;
                background-color: @navbar-link-active-bg;
            }
        }
        > .disabled > a {
            &,
            &:hover,
                &:focus {
                color: @navbar-link-disabled-color;
                background-color: @navbar-link-disabled-bg;
            }
        }
    }

    .navbar-toggle {
        border-color: @navbar-toggle-border-color;
        &:hover,
            &:focus {
            background-color: @navbar-toggle-hover-bg;
        }
        .icon-bar {
            background-color: @navbar-toggle-icon-bar-bg;
        }
    }

    .navbar-collapse {
        border-color: @navbar-border;
    }

    // Dropdown menu items
    .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
                &:focus {
                background-color: @navbar-link-active-bg;
                color: @navbar-link-active-color;
            }
        }

        @media (max-width: @grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: @navbar-link-color;
                    &:hover,
                        &:focus {
                        color: @navbar-link-hover-color;
                        background-color: @navbar-link-hover-bg;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                        &:focus {
                        color: @navbar-link-active-color;
                        background-color: @navbar-link-active-bg;
                    }
                }
                > .disabled > a {
                    &,
                    &:hover,
                        &:focus {
                        color: @navbar-link-disabled-color;
                        background-color: @navbar-link-disabled-bg;
                    }
                }
            }
        }
    }


    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.

    .navbar-link {
        color: @navbar-link-color;
        &:hover {
            color: @navbar-link-hover-color;
        }
    }

    .btn-link {
        color: @navbar-link-color;
        &:hover,
            &:focus {
            color: @navbar-link-hover-color;
        }
        &[disabled],
        fieldset[disabled] & {
            &:hover,
                &:focus {
                color: @navbar-link-disabled-color;
            }
        }
    }
}