#splash {
    background: @body-bg url(img/splash.gif) center no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    @media (max-width: @screen-sm-max) {
        background-size: contain;
    }
}