//
// Tables
// --------------------------------------------------


table {
    background-color: @table-bg;
}
caption {
    padding-top: @table-cell-padding;
    padding-bottom: @table-cell-padding;
    color: @text-muted;
    text-align: left;
}
th {
    text-align: left;
}


// Baseline styles

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: @line-height-computed;
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: @table-cell-padding;
                line-height: @line-height-base;
                vertical-align: top;
                border-top: 1px solid @table-border-color;
            }
        }
    }
    // Bottom align for column headings
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid @table-border-color;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid @table-border-color;
    }

    // Nesting
    .table {
        background-color: @body-bg;
    }
}