//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
    .clearfix();
}
.aligncenter {
    .center-block();
}
.alignright {
    float: right !important;
}
.alignleft {
    float: left !important;
}


// Toggling content
// -------------------------

.hide {
    display: none !important;
    visibility: hidden !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    .text-hide();
}